
.hero{
 display: flex;
 justify-content: space-around;
 margin-top:50px;
}
.items{
    display: flex;
    justify-content: space-around;
    font-family:"sans-serif";
    margin-right:150px;
}
.item{
    padding:10px;
    
font-family :"Fauna One";
font-size :10px;
font-style: normal;
color:rgb(56, 56, 56);
text-decoration: none;
unicode-bidi: isolate;
font-weight: lighter;
}
.contact{
    font-family: "Bree Serif";
    text-decoration: none;
    color:rgb(1, 1, 1);
    margin-top:1rem;
    font-weight: lighter;
    font-size: 10px;
}
@media screen and (max-width: 577px){
    .img{
        width:100px;
        height:30px;
      
        
        
    }
    .pop{
        display: flex;
        justify-content: space-around;
    }
    .nav-links-list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
      }
    .popup-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100vw;
        height: 100vh;
      }
      
    .items{
        display: none;

    }
    .cc{
        display: none;
    }
    .image{
        display: none;
    }

}
@media screen and (min-width: 578px){
    .img{
        width:250px;
        height:70px;
       margin-left:-60px;
        
        
    }
    .popup-content{
        display: none;
    }
    .hamburger-icon-button{
        display: none;
    }
    .image1{
        display: none;
    }
    

}
